* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    color: $color;
    font-size: $font-size;
    min-height: 100vh;
    background-color: $body-bg;
    font-family: $font-primary, $font-secondary;
}

a {
    transition: .3s;
    color: $gray-accent;

    &:hover {
        color: $color;
    }
}

input {
    transition: .3s;

    &:focus-visible {
        outline: none;
    }
}

.icon-svg,
img {
    height: auto;
    max-width: 100%;
}

h1 {
    font-size: 45px;
}

h3 {
    font-size: 36px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 1248px + 24px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    border-radius: 16px;
    font-size: 16px;
    display: inline-block;
    color: $color;
    border: 2px solid $color;
    text-transform: uppercase;
    font-weight: 600;
    padding: 16px 23px;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;

    &.btn-primary {
        background-color: $color;
        color: $brand-white;

        &:hover {
            background-color: $brand-white;
            color: $color;
            border-color: $color;
        }
    }

    &.btn-secondary {
        background-color: $brand-white;
        color: $color;

        &:hover {
            background-color: $color;
            color: $brand-white;

            .icon {
                filter: invert(167%) sepia(71%) saturate(0%) hue-rotate(23deg) brightness(102%) contrast(105%);
            }
        }
    }


    &.btn-small {
        font-size: 14px;
        padding: 13px 23px;
    }

    &:focus,
    &:active:focus {
        box-shadow: none;
        border-color: $color;
    }


}


button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.g-1 {
    gap: 1rem;
}

.g-2 {
    gap: 2rem;
}

.g-3 {
    gap: 3rem;
}

.g-4 {
    gap: 4rem;
}

.g-5 {
    gap: 5rem;
}

.gray-accent {
    color: $gray-accent;
}

.gray-secondary {
    color: $gray-secondary;
}

.template-title {
    @include section-title;
    @include flex-centered;
    font-weight: 600;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 46px;
        margin: 0;
    }
}

.button-row {
    display: flex;
    padding-top: 64px;

    .btn {
        margin: 0 11px;
        padding: 14px 16px;
        min-width: 72px;
        display: flex;

        .icon {
            margin-right: 8px;
        }

    }
}




.icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.icon-ethereum {
    background-image: url(assets/img/icon-ethereum.svg);
}

.icon-ripple {
    background-image: url(assets/img/icon-ripple.png);
}

.icon-category {
    background-image: url(assets/img/icon-category.svg);
}

.icon-collection {
    background-image: url(assets/img/icon-collection.svg);
}

.icon-dollar {
    background-image: url(assets/img/icon-dollar.svg);
}


.icon-xs {
    width: 17px;
    height: 17px;
}

.icon-sm {
    width: 22px;
    height: 22px;
}

.icon-md {
    width: 31px;
    height: 31px;
}

.icon-lg {
    width: 45px;
    height: 45px;
}

.color-red {
    color: #E23333;
}

.color-green {
    color: #10C352;
}

.wiget-user__percent_totop {
    @extend .color-green;
}

.wiget-user__percent_tobottom {
    @extend .color-red;
}

.wiget-user__percent_zero {
    color: $gray-secondary;
}


.explore-link {
    margin-left: auto;
    text-decoration: none;
    font-size: 18px;
    color: #abacb8;
    display: flex;
    align-items: center;

    svg {
        color: #ACADB9;
        width: 12px;
        height: 12px;
        transition: .3s;
        margin-left: 12px;
    }

    &:hover {
        svg {
            color: #000;
        }
    }
}
