.product {
    background-color: #fff;
    width: 100%;
    max-width: 281px;
    border-radius: 24px;
    padding: 14px 14px 20px;
    display: flex;
    flex-direction: column;
    &-img {
        margin-bottom: 19px;
        position: relative;
    }
    &-title {
        color: $brand-dark;
        font-size: 21px;
        margin-bottom: 12px;
        font-weight: 600;
    }
    &-bid-title {
        font-size: 14px;
        margin-bottom: 5px;
        color: $gray-secondary;
    }
    &-bid {
        display: flex;
        font-size: 16px;
        i {
            margin-right: 2px;
        }
    }
    .btn {
        margin: -51px 0 0 auto;
    }
}

.product-timer {
    font-size: 14px;
    background: #1c1d2059;
    border-radius: 10px;
    color: #fff;
    padding: 8px 14px;
    position: absolute;
    right: 10px;
    top: 14px;
}