.weekly {
    padding: 70px 0 273px;
    margin-bottom: 236px;
    background-color: $gray-primary;
    position: relative;

    .container {
        position: relative;
       max-width: 1596px;
     }

    .section-title {
        @extend .gray-secondary;
    }

    .wiget {
        position: absolute;
        right: 175px;
        bottom: -371px;
    }
}

.carousel-weekly {
    // max-width: 923px;
    width: 100%;

    .swiper-slide {
         width: 281px;

    }
}

.test-card {
    background-color: #0f0;
    height: 400px;
}

.weekly-slider-navigation {
    @include slider-nav;

    margin: 114px auto 0;

    &::after {
        @include slider-nav-separator;
    }
}

.weekly-button-prev,
.weekly-button-next {
    @include slider-nav-btn;
}

.weekly-button-prev {
    @include swiper-button-prev
}

.weekly-button-next {
    @include swiper-button-next
}
