<section class="collections">
    <div class="container">
        <div class="template-title">
            <h2>Top Collection</h2>
        </div>
        <div class="overflow-auto">
            <table>
                <tr>
                    <th>Collection</th>
                    <th>Volume</th>
                    <th>24h %</th>
                    <th>Floor Price</th>
                    <th>Owners</th>
                    <th>Items</th>
                </tr>
                <tr>
                    <td>
                        <div class="collection-item">
                            <div class="collection-avatar">
                                <img src="assets/img/product-1.png" alt="product">
                            </div>
                                <div class="collection-name">
                                    <h5>Alex Ca.</h5>
                                    <h6>By Alex</h6>
                                </div>
                            </div>
                    </td>
                    <td>
                        <div class="table-box">
                            <i class="icon icon-sm icon-ethereum"></i>8,456
                        </div>
                    </td>
                    <td>
                        <div class="table-box color-green">
                            + 27.78%
                        </div>
                    </td>
                    <td>
                        <div class="table-box">
                            <i class="icon icon-sm icon-ethereum"></i>3,5
                        </div>
                    </td>
                    <td>
                        <div class="table-box"> 2.2K</div>
                    </td>
                    <td>
                        <div class="table-box"> 500</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="collection-item">
                            <div class="collection-avatar">
                                <img src="assets/img/product-1.png" alt="product">
                            </div>
                                <div class="collection-name">
                                    <h5>Alex Ca.</h5>
                                    <h6>By Alex</h6>
                                </div>
                            </div>
                    </td>
                    <td>
                        <div class="table-box">
                            <i class="icon icon-sm icon-ethereum"></i>8,456
                        </div>
                    </td>
                    <td>
                        <div class="table-box color-red">
                            - 27.78%
                        </div>
                    </td>
                    <td>
                        <div class="table-box">
                            <i class="icon icon-sm icon-ethereum"></i>3,5
                        </div>
                    </td>
                    <td>
                        <div class="table-box"> 2.2K</div>
                    </td>
                    <td>
                        <div class="table-box"> 500</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="collection-item">
                            <div class="collection-avatar">
                                <img src="assets/img/product-1.png" alt="product">
                            </div>
                                <div class="collection-name">
                                    <h5>Alex Ca.</h5>
                                    <h6>By Alex</h6>
                                </div>
                            </div>
                    </td>
                    <td>
                        <div class="table-box">
                            <i class="icon icon-sm icon-ethereum"></i>8,456
                        </div>
                    </td>
                    <td>
                        <div class="table-box color-green">
                            + 27.78%
                        </div>
                    </td>
                    <td>
                        <div class="table-box">
                            <i class="icon icon-sm icon-ethereum"></i>3,5
                        </div>
                    </td>
                    <td>
                        <div class="table-box"> 2.2K</div>
                    </td>
                    <td>
                        <div class="table-box"> 500</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="collection-item">
                            <div class="collection-avatar">
                                <img src="assets/img/product-1.png" alt="product">
                            </div>
                                <div class="collection-name">
                                    <h5>Alex Ca.</h5>
                                    <h6>By Alex</h6>
                                </div>
                            </div>
                    </td>
                    <td>
                        <div class="table-box">
                            <i class="icon icon-sm icon-ethereum"></i>8,456
                        </div>
                    </td>
                    <td>
                        <div class="table-box color-green">
                            + 27.78%
                        </div>
                    </td>
                    <td>
                        <div class="table-box">
                            <i class="icon icon-sm icon-ethereum"></i>3,5
                        </div>
                    </td>
                    <td>
                        <div class="table-box"> 2.2K</div>
                    </td>
                    <td>
                        <div class="table-box"> 500</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="collection-item">
                            <div class="collection-avatar">
                                <img src="assets/img/product-1.png" alt="product">
                            </div>
                                <div class="collection-name">
                                    <h5>Alex Ca.</h5>
                                    <h6>By Alex</h6>
                                </div>
                            </div>
                    </td>
                    <td>
                        <div class="table-box">
                            <i class="icon icon-sm icon-ethereum"></i>8,456
                        </div>
                    </td>
                    <td>
                        <div class="table-box color-red">
                            + 27.78%
                        </div>
                    </td>
                    <td>
                        <div class="table-box">
                            <i class="icon icon-sm icon-ethereum"></i>3,5
                        </div>
                    </td>
                    <td>
                        <div class="table-box"> 2.2K</div>
                    </td>
                    <td>
                        <div class="table-box"> 500</div>
                    </td>
                </tr>
            </table>

        </div>
        <a href="#" class="explore-link">Explore All	
            <svg class="icon-svg">
                <use href="#icon-arrow-right"></use>
            </svg> 
        </a>
    </div>

    <img src="assets/img/icon-arrow-right.svg" alt="arrow">
</section>
