<div class="container d-flex g-3">
    <div class="tabs">
        <nav class="tabs__nav">
            <button class="tabs__button active">Collection</button>
            <button class="tabs__button">Activity</button>
          
        </nav>
        <div class="tabs__content active">
            1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis sapiente repellendus atque maxime architecto, quod mollitia, magnam fugit quaerat accusamus corrupti, natus voluptatem praesentium ut. Fugit repellendus tenetur minima facilis praesentium consectetur ea eveniet sit autem rem voluptates nostrum amet debitis blanditiis sapiente, aperiam voluptas quisquam molestiae perferendis. Itaque suscipit illum inventore nulla dolorem saepe veritatis sunt ut voluptatibus vero aspernatur in sequi, deserunt nobis! Excepturi maxime reiciendis nostrum ratione labore et alias, culpa eligendi vitae fuga aliquid vel tempora delectus voluptatum quos, fugiat doloribus? Dolor expedita id beatae illo? Hic iure sapiente aspernatur incidunt quod animi libero dolorum.
        </div>
        <div class="tabs__content">
            2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis sapiente repellendus atque maxime architecto, quod mollitia, magnam fugit quaerat accusamus corrupti, natus voluptatem praesentium ut. Fugit repellendus tenetur minima facilis praesentium consectetur ea eveniet sit autem rem voluptates nostrum amet debitis blanditiis sapiente, aperiam voluptas quisquam molestiae perferendis. Itaque suscipit illum inventore nulla dolorem saepe veritatis sunt ut voluptatibus vero aspernatur in sequi, deserunt nobis! Excepturi maxime reiciendis nostrum ratione labore et alias, culpa eligendi vitae fuga aliquid vel tempora delectus voluptatum quos, fugiat doloribus? Dolor expedita id beatae illo? Hic iure sapiente aspernatur incidunt quod animi libero dolorum.
        </div>
    </div>

    <div class="tabs">
        <nav class="tabs__nav">
            <button class="tabs__button active">1</button>
            <button class="tabs__button">2</button>
            <button class="tabs__button">3</button>
        </nav>
        <div class="tabs__content active">
            1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis sapiente repellendus atque maxime architecto, quod mollitia, magnam fugit quaerat accusamus corrupti, natus voluptatem praesentium ut. Fugit repellendus tenetur minima facilis praesentium consectetur ea eveniet sit autem rem voluptates nostrum amet debitis blanditiis sapiente, aperiam voluptas quisquam molestiae perferendis. Itaque suscipit illum inventore nulla dolorem saepe veritatis sunt ut voluptatibus vero aspernatur in sequi, deserunt nobis! Excepturi maxime reiciendis nostrum ratione labore et alias, culpa eligendi vitae fuga aliquid vel tempora delectus voluptatum quos, fugiat doloribus? Dolor expedita id beatae illo? Hic iure sapiente aspernatur incidunt quod animi libero dolorum.
        </div>
        <div class="tabs__content">
            2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis sapiente repellendus atque maxime architecto, quod mollitia, magnam fugit quaerat accusamus corrupti, natus voluptatem praesentium ut. Fugit repellendus tenetur minima facilis praesentium consectetur ea eveniet sit autem rem voluptates nostrum amet debitis blanditiis sapiente, aperiam voluptas quisquam molestiae perferendis. Itaque suscipit illum inventore nulla dolorem saepe veritatis sunt ut voluptatibus vero aspernatur in sequi, deserunt nobis! Excepturi maxime reiciendis nostrum ratione labore et alias, culpa eligendi vitae fuga aliquid vel tempora delectus voluptatum quos, fugiat doloribus? Dolor expedita id beatae illo? Hic iure sapiente aspernatur incidunt quod animi libero dolorum.
        </div>
        <div class="tabs__content">
            3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis sapiente repellendus atque maxime architecto, quod mollitia, magnam fugit quaerat accusamus corrupti, natus voluptatem praesentium ut. Fugit repellendus tenetur minima facilis praesentium consectetur ea eveniet sit autem rem voluptates nostrum amet debitis blanditiis sapiente, aperiam voluptas quisquam molestiae perferendis. Itaque suscipit illum inventore nulla dolorem saepe veritatis sunt ut voluptatibus vero aspernatur in sequi, deserunt nobis! Excepturi maxime reiciendis nostrum ratione labore et alias, culpa eligendi vitae fuga aliquid vel tempora delectus voluptatum quos, fugiat doloribus? Dolor expedita id beatae illo? Hic iure sapiente aspernatur incidunt quod animi libero dolorum.
        </div>
    </div>

    <div class="tabs">
        <nav class="tabs__nav">
            <button class="tabs__button active">1</button>
            <button class="tabs__button">2</button>
            <button class="tabs__button">3</button>
        </nav>
        <div class="tabs__content active">
            1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis sapiente repellendus atque maxime architecto, quod mollitia, magnam fugit quaerat accusamus corrupti, natus voluptatem praesentium ut. Fugit repellendus tenetur minima facilis praesentium consectetur ea eveniet sit autem rem voluptates nostrum amet debitis blanditiis sapiente, aperiam voluptas quisquam molestiae perferendis. Itaque suscipit illum inventore nulla dolorem saepe veritatis sunt ut voluptatibus vero aspernatur in sequi, deserunt nobis! Excepturi maxime reiciendis nostrum ratione labore et alias, culpa eligendi vitae fuga aliquid vel tempora delectus voluptatum quos, fugiat doloribus? Dolor expedita id beatae illo? Hic iure sapiente aspernatur incidunt quod animi libero dolorum.
        </div>
        <div class="tabs__content">
            2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis sapiente repellendus atque maxime architecto, quod mollitia, magnam fugit quaerat accusamus corrupti, natus voluptatem praesentium ut. Fugit repellendus tenetur minima facilis praesentium consectetur ea eveniet sit autem rem voluptates nostrum amet debitis blanditiis sapiente, aperiam voluptas quisquam molestiae perferendis. Itaque suscipit illum inventore nulla dolorem saepe veritatis sunt ut voluptatibus vero aspernatur in sequi, deserunt nobis! Excepturi maxime reiciendis nostrum ratione labore et alias, culpa eligendi vitae fuga aliquid vel tempora delectus voluptatum quos, fugiat doloribus? Dolor expedita id beatae illo? Hic iure sapiente aspernatur incidunt quod animi libero dolorum.
        </div>
        <div class="tabs__content">
            3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis sapiente repellendus atque maxime architecto, quod mollitia, magnam fugit quaerat accusamus corrupti, natus voluptatem praesentium ut. Fugit repellendus tenetur minima facilis praesentium consectetur ea eveniet sit autem rem voluptates nostrum amet debitis blanditiis sapiente, aperiam voluptas quisquam molestiae perferendis. Itaque suscipit illum inventore nulla dolorem saepe veritatis sunt ut voluptatibus vero aspernatur in sequi, deserunt nobis! Excepturi maxime reiciendis nostrum ratione labore et alias, culpa eligendi vitae fuga aliquid vel tempora delectus voluptatum quos, fugiat doloribus? Dolor expedita id beatae illo? Hic iure sapiente aspernatur incidunt quod animi libero dolorum.
        </div>
    </div>
</div>
