<div class="custom-modal" id="explore-more">
    <div class="custom-modal__body">
        <div class="custom-modal__close">close</div>
        Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More Explore More
    </div>
</div>

<div class="custom-modal" id="create-nft">
    create NFT create NFT create NFT create NFT create NFT create NFT create NFT create NFT create NFT create NFT create NFT 
</div>